
.container{
    display: flex;
    align-items: center;
}
ul nav{
    display: flex;
    justify-content: space-between;
}
.navbar-color{
    text-decoration: none;
    font-size: 30px;
    color: forestgreen;
}